# This code is probaly going to be deleted, I was just experimenting with things. Please ignore it

In [15]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
import pickle

In [2]:
inpath = './data_chunked/'
outpath= './data/'
dfs = []
data = pd.DataFrame([], columns=['text', 'lang'])

In [3]:
for f in os.listdir(inpath):
    if f == 'README.md': continue
    file = open(inpath+f, 'r')
    chunks = file.readlines()
    file.close()
    lang = f[:f.index('.')]
    df = pd.DataFrame([chunks, len(chunks)*[lang]], index=['text', 'lang']).T
    dfs.append(df)

In [4]:
df = pd.concat(dfs, ignore_index=True)
df.shape

(1914517, 2)

In [5]:
df

                                                      text lang
0        ıwlardı juzege asırıw ushın jirobankler qurıla...  kaa
1        eksas AQSHtin qublashigisinda Atlantika okeani...  kaa
2        asina shekem Kaspiy ham Aral tenizi boylarinan...  kaa
3        rigoriy kestesinde jıldın on birinshi ayı kunn...  kaa
4        andi Ol jili martta Дорогобуж rayoni ushin bol...  kaa
...                                                    ...  ...
1914512  e es multe plu flexable e rapida ca ajusta par...  lfn
1914513  o pote ave los Donce per descovre acel mundo r...  lfn
1914514  a scrive istoria con un asentua sur personalia...  lfn
1914515   desiniada en par Sonja Lang nomida Sonja Elen...  lfn
1914516  a sposa Cathatrina ia atribui sua mori a la st...  lfn

[1914517 rows x 2 columns]

In [6]:
df['lang'].unique().tolist()

['kaa',
 'glk',
 'el',
 'gd',
 'io',
 'myv',
 'sv',
 'sa',
 'sw',
 'pl',
 'mni',
 'fa',
 'bjn',
 'eml',
 'koi',
 'kab',
 'rue',
 'eo',
 'mzn',
 'tcy',
 'su',
 'diq',
 'sc',
 'shn',
 'azb',
 'ang',
 'ja',
 'hi',
 'jv',
 'tyv',
 'en',
 'gor',
 'gan',
 'lez',
 'lij',
 'pag',
 'pap',
 'pms',
 'mwl',
 'gu',
 'ka',
 'kv',
 'awa',
 'sq',
 'ru',
 'kw',
 'ace',
 'nqo',
 'ga',
 'gv',
 'fr',
 'hy',
 'ku',
 'sd',
 'skr',
 'rw',
 'sr',
 'se',
 'hsb',
 'vls',
 'xal',
 'inh',
 'udm',
 'lad',
 'krc',
 'co',
 'ms',
 'zea',
 'tg',
 'jbo',
 'vo',
 'min',
 'ceb',
 'la',
 'lv',
 'om',
 'mr',
 'cy',
 'af',
 'nap',
 'war',
 'wuu',
 'as',
 'bh',
 'lt',
 'mg',
 'sat',
 'tr',
 'te',
 'ts',
 'dty',
 'lb',
 'crh',
 'ar',
 'szl',
 'av',
 'ny',
 'tpi',
 'nn',
 'scn',
 'ary',
 'hyw',
 'ur',
 'vi',
 'ta',
 'sco',
 'stq',
 'mt',
 'no',
 'lg',
 'ban',
 'ab',
 'bn',
 'zh',
 'ug',
 'arz',
 'wo',
 'tt',
 'nl',
 'bo',
 'szy',
 'bug',
 'an',
 'ay',
 'li',
 'or',
 'nv',
 'uk',
 'tn',
 'yi',
 'cdo',
 'sah',
 'ml',
 'os',
 'lmo',
 'pfl',
 'am',
 'az',
 'ba',
 'ce',
 'mn',
 'my',
 'tl',
 'ckb',
 'wa',
 'hak',
 'cs',
 'vep',
 'bcl',
 'ksh',
 'vec',
 'mrj',
 'bs',
 'oc',
 'mk',
 'lo',
 'zu',
 'uz',
 'ast',
 'fur',
 'th',
 'mdf',
 'yo',
 'mhr',
 'ln',
 'cv',
 'br',
 'ca',
 'be',
 'nah',
 'bar',
 'nov',
 'bxr',
 'bg',
 'csb',
 'smn',
 'tk',
 'tet',
 'xh',
 'mi',
 'ne',
 'pdc',
 'lbe',
 'nrm',
 'kbd',
 'fi',
 'dv',
 'da',
 'kn',
 'hu',
 'als',
 'dsb',
 'ky',
 'sh',
 'ps',
 'si',
 'frr',
 'rm',
 'avk',
 'mnw',
 'ig',
 'ht',
 'ko',
 'gl',
 'es',
 'kbp',
 'gom',
 'gn',
 'km',
 'ha',
 'ie',
 'frp',
 'sk',
 'ro',
 'qu',
 'id',
 'is',
 'gag',
 'ilo',
 'simple',
 'nso',
 'ext',
 'bpy',
 'et',
 'fo',
 'sn',
 'pt',
 'so',
 'mai',
 'hr',
 'ia',
 'he',
 'eu',
 'hif',
 'fy',
 'pam',
 'pnb',
 'it',
 'kk',
 'pa',
 'sl',
 'xmf',
 'de',
 'olo',
 'new',
 'nds',
 'pcd',
 'lfn']

In [16]:
f = open(outpath+'chunks.pkl', 'wb')
pickle.dump(df, f)
f.close()

In [7]:
train, test = train_test_split(df, stratify=df['lang'])

In [8]:
train['lang'].value_counts()

lb     7500
an     7500
et     7500
sco    7500
nds    7500
       ...
mni     612
xal     544
eml     494
tpi     341
lbe     257
Name: lang, Length: 248, dtype: int64

In [9]:
test['lang'].value_counts()

sc     2500
shn    2500
ia     2500
ku     2500
ceb    2500
       ...
mni     204
xal     181
eml     165
tpi     113
lbe      86
Name: lang, Length: 248, dtype: int64

In [11]:
train.head()

                                                      text lang
1617454  vest Cina cea de taină Când aau rugat în grădi...   ro
240066    to Kabupaten Kolaka Timur Provinsi Sulawesi T...  gor
855702   ى تۆۋەن ئوقۇغۇچىلارغا ئايرىم ياردەم قىلىشنى پۈ...   ug
1759643   del Sol sed le nomine esseva cambiate in le m...   ia
445556   Смоленск губерняын инженер батальонын ортчытъя...  udm

In [12]:
test.head()

                                                      text lang
1654531  nın eski viţeprezidentı Komrat İ KARAKAŞ GR ÜS...  gag
171860   င် တႆးလႄႈ တီႉပႅတ်ႉ ႁွမ်းၵၼ်သေ ၶိုၼ်ႈသိုၵ်းၸူးၶ...  shn
1619491  e Supalak sau Thong Daeng Denumirea rasei prov...   ro
1677856  locítica aguda en el National Cancer Institute...  ext
898110   ནསསེམསཅནགྱིདོནམཛདཔའིགྲུབཆེནནཱརོཔཆེནཔོདེཉིདབདེབ...   bo

In [13]:
train.shape

(1435887, 2)

In [14]:
test.shape

(478630, 2)